.MatchPage {
    display: grid;
    grid-template-columns: 1fr 4fr;

    .year-selector {
        justify-self: end;
        padding: 20px;

        & > h3 {
            margin-right: 20px;
        }
    }
    .no-match-year {
        margin-top: 200px;
        text-align: center;
    }
    .page-heading {
        margin-bottom: 20px;
    }
}
